/*page-header*/
.page-header {
	background-color: #fff;
	border-bottom: 1px solid #ececec;
 }
 
 .menu.list {
	display: flex;
 }
 
 .list.menu__list {
	display: flex;
 }
 
 .menu__item {
	margin-right: 50px;
 }
 
 .menu__item:last-child {
	margin-right: 0;
 }

 
/*header*/
.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
	text-decoration: none;
	margin-right: 93px;
 }
 
 .logo__studio {
	color: var(--black-color);
 }
 
 .logo__studio--white {
	color: var(--white-color);
 }
 
 .logo:hover,
 .logo:focus {
	color: var(--accent-color);
 }
 
 