/*section Hero*/
.hero {
  margin: 0 auto;
  background-color: var(--hero-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/header.background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.background.jpg);
  max-width: 1600px;
  height: 600px;
}

.container--hero {
  /* outline: 1px tomato solid;*/
  text-align: center;
}
.hero__title {
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 900;
  font-size: $font44;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
